/* src/index.css */

body {
    background-color: #36393f; /* Discord's dark background color */
    font-size: 16px; /* Set a base font size */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #202225; /* Discord's form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px; /* Increase the form's font size */
    width: 1000px;
    margin: 0 auto; /* Center the form horizontally */
    height:50vh;
}

.form-label {
    color: #b9bbbe; /* Discord's label text color */
}

.form-control {
    background-color: #36393f; /* Discord's input background color */
    color: #b9bbbe; /* Discord's input text color */
    border: 1px solid #7289da; /* Discord's input border color */
    height: 40px; /* Adjust the height of the input box */
}

.form-control:focus {
    border-color: #7289da; /* Discord's focused input border color */
    box-shadow: 0 0 0 0.2rem rgba(114, 137, 218, 0.5); /* Discord's focused input box shadow */
}

.btn-primary {
    font-size: 18px; /* Increase button font size */
    background-color: #7289da; /* Discord's primary button color */
    border: 1px solid #7289da; /* Discord's primary button border color */
}

.btn-primary:hover {
    background-color: #677bc4; /* Discord's primary button hover color */
    border: 1px solid #677bc4; /* Discord's primary button hover border color */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

h3 {
    color:#b9bbbe;
}